<div class="modal-backdrop show"></div>
<div class="modal show d-block" tabindex="-1">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">Manage Author</h5>
                <button type="button" class="btn-close" (click)="closeModal()"></button>
            </div>

            <div class="modal-body">
                <table class="table table-hover"  *ngIf="authors.length > 0">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Nome</th>
                            <th scope="col">Cognome</th> 
                            <th scope="col">Casa Editrice</th>
                            <th scope="col">Indice Di Gradimento</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="dataReady" >
                        <tr *ngFor="let author of authors">
                            <td>{{author.persona.id}}</td>
                            <td>{{author.persona.nome}}</td>
                            <td>{{author.persona.cognome}}</td>
                            <td>{{author.casaEditrice}}</td>
                            <td>{{author.indiceDiGradimento}}</td>  
                            <!-- <pre>{{ author | json }}</pre> -->
                            <div class="d-grid gap-2 d-md-block p-2">
                                <td><button class="btn btn-outline-danger btn-lg" (click)="deleteAuthor(author.persona.id!)">Delete</button></td>
                                <!-- <td><button class="btn btn-outline-primary btn-lg" (click)="editeAuthor(author.persona.id!, author)">Edit</button></td> -->
                            </div>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>