.dropdown-menu .dropdown-item:hover {
    background-color: #f8f9fa;
    color: #212529;
}


.dropdown-menu .dropdown-item.active,
.dropdown-menu .dropdown-item:active {
    background-color: #e9ecef;
    color: #212529;
}

.dropdown {
    margin-bottom: 1rem;
}