<div class="modal-backdrop show"></div>
<div class="modal show d-block" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">Add New Book</h5>
                <button type="button" class="btn-close" (click)="closeModal()"></button>
            </div>

            <div class="modal-body">
                <form [formGroup]="bookForm" (ngSubmit)="submitForm()">
                    <div class="mb-3">
                    <label class="form-label">Titolo</label>
                    <input type="text" class="form-control" formControlName="titolo">
                    </div>
                    <div class="mb-3">
                    <label class="form-label">ISBN</label>
                    <input type="text" class="form-control" formControlName="ISBN">
                    </div>
                    <div class="mb-3">
                    <label class="form-label">Genere</label>
                    <input type="text" class="form-control" formControlName="Genere">
                    </div>
                    <div class="mb-3">
                    <label class="form-label">Casa Editrice</label>
                    <input type="text" class="form-control" formControlName="CasaEditrice">
                    </div>
                    <div class="mb-3">
                    <label class="form-label">Anno Pubblicazione</label>
                    <input type="date" class="form-control" formControlName="AnnoPubblicazione">
                    </div>
                    <div class="mb-3">
                    <label class="form-label">Quantita Magazzino</label>
                    <input type="number" class="form-control" formControlName="QuantitaMagazzino">
                    </div>
                    <div class="dropdown" *ngIf="authorLoaded">
                        <button 
                            class="btn btn-light border rounded w-100 d-flex justify-content-between align-items-center" 
                            data-bs-toggle="dropdown" 
                            aria-expanded="false">
                            <span>{{autoreSelezionato?.persona?.cognome}}</span>
                            <span class="dropdown-toggle ms-2"></span>
                        </button>
                        <ul class="dropdown-menu w-100">
                            <li *ngFor="let author of authors">
                                <a class="dropdown-item" href="#" (click)="selectAuthor(author)">{{author.persona.cognome}}</a>
                            </li>
                        </ul>
                    </div>
                    <button type="submit" class="btn btn-primary">Salva</button>
                </form>
            </div>

        </div>
    </div>
</div>
