<div class="container custom-width mt-5">
    <div class="row justify-content-center">
        <!-- AUTHORS -->
        <div class="col-md-4 bg-light rounded shadow-sm m-3 text-center management-box">
            <h4 class="mb-3">Manage Authors</h4>
            <div class="d-flex justify-content-center gap-2">
                <button type="button" class="btn btn-outline-success" (click)="showAuthorForm = true">Add new Author</button>
                <button type="button" class="btn btn-outline-info" (click)="showAuthorTable = true">View & Manage Authors</button>
                <!-- <button type="button" class="btn btn-outline-danger">Delete</button>
                <button type="button" class="btn btn-outline-warning">Update info</button> -->
            </div>
        </div>
        <!--  -->
        <author-modal *ngIf="showAuthorForm" (close)="showAuthorForm = false"></author-modal>
        <author-table *ngIf="showAuthorTable" (close)="showAuthorTable = false"></author-table>
        <!-- CLIENTS -->
        <div class="col-md-4 bg-light rounded shadow-sm m-3 text-center management-box">
            <h4 class="mb-3">Manage Clients</h4>
            <div class="d-flex justify-content-center gap-2">
                <button type="button" class="btn btn-outline-success" (click)="showClientModal = true">Add new Client</button>
                <button type="button" class="btn btn-outline-info">View & Manage Clients</button>
                <!-- <button type="button" class="btn btn-outline-danger">Delete</button>
                <button type="button" class="btn btn-outline-warning">Update info</button> -->
            </div>
        </div>
    </div>
    <!--  -->
        <client-modal *ngIf="showClientModal" (close)="showClientModal = false"></client-modal>

    <div class="row justify-content-center mt-2">
        <!-- BOOKS -->
        <div class="col-md-4 bg-light rounded shadow-sm m-3 text-center management-box">
            <h4 class="mb-3">Manage Books</h4>
            <div class="d-flex justify-content-center gap-2">
                <button type="button" class="btn btn-outline-success">Add new Book</button>
                <button type="button" class="btn btn-outline-danger">Delete</button>
                <button type="button" class="btn btn-outline-warning">Update info</button>
            </div>
        </div>

        <!-- LOANS -->
        <div class="col-md-4 bg-light rounded shadow-sm m-3 text-center management-box">
            <h4 class="mb-3">Manage Loans</h4>
            <div class="d-flex justify-content-center gap-2">
                <button type="button" class="btn btn-outline-success">Make new Loan</button>
                <button type="button" class="btn btn-outline-danger">Delete</button>
                <button type="button" class="btn btn-outline-warning">Update info</button>
            </div>
        </div>
    </div>
</div>